body.pages.home {
  .page {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .page .page-content {
    background-color: transparent;

    .page-sidebar-button-wrapper {
      display: none;
    }
  }
}
