body.projects.index {
  .navigation-menu {
    padding-top: 4rem;
    padding-left: 0;
    list-style: none;

    a:hover {
      text-decoration: none;
    }
  }
}

body.projects.show {
  .page-content {
    font-family: "Lineto" ,"Helvetica Neue", Helvetica, Arial, sans-serif;

    .pagination {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5rem 0 2rem 0;

      a:hover {
        text-decoration: none;
      }
    }
  }
}
