<b container fluid>
  <b row>
    <b-col cols="10" offset="1">
      <%= simple_form_for(@biography) do |f| %>
        <%= f.input :information, as: :text, input_html: { rows: 20 }, class: "form-border-bio" %>
        <div class="form-btn-container">
          <%= link_to("/information/1/edit") do %>
            <button class="btn btn-form-bio">Cancel</button>
          <% end %>
          <%= f.button :submit, "Save Changes", class: "btn-form-bio" %>
        </div>
      <% end %>
    </b-col>
  </b>
</b>

