.navbar-light .navbar-text {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: #fff;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../images/toggle.png);
}


.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
  padding:.25rem 0;
}

@media only screen and (max-width: 576px) {
  .navbar-light a.navbar-brand{
    display:none;
  }
  .navbar-light.home a.navbar-brand{
    display:inline-block;
  }
}
