.navbar-item img {
  max-height: 3.0625rem;
}

.navbar.is-transparent {
  background-color: transparent;

  .navbar-item {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar.is-transparent.home {
  .navbar-item {
    color: #000;
  }

}
