.form-container {
  float: right;
  height: 75vh;
  width: 45vw;
  margin-right: 20px;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-button {
  margin: 15px;
  width: 100px;
  height: 30px;

  color: white;
  background-color: black;
  border-radius: 15px;
  &:hover {
    color: black;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
  }
}

.form-button-inverted {
  width: 40px;
  height: 30px;
  flex-grow: none;

  color: gray;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  &:hover {
    border: 1px solid rgba(0,0,0,0.5);
  }
}

$form-container-height: 35px;
$form-input-height: 35px;
$form-text-area-height: 260px;

.form-line {
  // height: calc($form-container-height + $form-input-height);
  height: 70px;
  margin: 10px;
  width: 90%;
  padding: 10px;
  overflow: auto;
  flex-grow: 2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    flex: 0 0 20%;
  }

  input, textarea {
    flex: 0 0 80% ;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 15px;
  }

  textarea {
    height: $form-text-area-height;
  }

  input {
    height: $form-input-height;
  }
}

.form-text-area {
  // height: calc($form-container-height + $form-text-area-height);
  height: 260px;
}

