.list-wrapper {

}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  font-family: 'Circular';
}

.project-list-item, .project-list-item-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  width: 80%;
  height: 135px;

  .list-image {
    flex: 0 0 20%;
    img {
      width: 110px;
      height: 100px;
      margin: 20px;
      object-fit: cover;
    }
  }

  .list-title {
    flex: 20%;
  }

  .list-date {
    flex: 20%;
  }

  .list-controller {
    flex: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    text-decoration: none;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
    i {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      color: black;
      font-size: 30px;
      margin: 5px;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
    span {
      font-family: "Circular";
      font-size: 12px;
      margin: 5px;
      text-decoration: none;
      font-weight: 100;
      &:hover {
        text-decoration: none;
      }
    }
    .hidden-button {
      height: 100%;
      width: 90%;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      text-decoration: none;
    }
    .noshowedit {
      opacity: 0;
    }
    .noshowarchive {
      opacity: 0;
    }
    .noshowdelete {
      opacity: 0;
    }
    .noshowunarchive {
      opacity: 0;
    }
  }
}

.project-list-item {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
  }
}

.project-list-item-header {
  height: 30px;
  font-size: 20px;
  margin-top: 20px;
  #title-text {
    margin-left: 140px;
  }
  span {
    font-weight: 800;
  }
}

.list-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;

  width: 500px;
  height: 200px;
  position: absolute;
  margin-top: 25px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 10px;

  .modal-buttons {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .modal-confirm {
    color: #c63c1d;
    padding: 8px;
    &:hover {
      border: 1px solid #c63c1d;
      border-radius: 15px;
    }
  }
  .modal-cancel {
    padding: 8px;
    &:hover {
      border: 1px solid white;
      border-radius: 15px;
    }
  }

  i {
    font-size: 40px;
    color: white;
  }

  p {
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    margin: 3px;
  }

  button, input {
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    padding: 3px;
    margin: 3px;
  }
}

.hidden {
  display: none;
}
