<form enctype="multipart/form-data" action="/featured/trailblazing" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="_method" value="patch" />
  <input type="hidden" name="authenticity_token" value="cFVOF4yYurJ4XvenkSI4ORI58AJ7pGaacZYpzat0n39G/VBjJe6fONDnHVXF+VTa+a372HkNw9hUzgxyIP+AKg==" />
  <div class="form-group hidden project_id form-group-valid">
    <input class="form-control is-valid hidden" type="hidden" value="8" name="project[id]" id="project_id" />
  </div>
  <div class="form-group string optional project_name form-group-valid"><label class="form-control-label string optional" for="project_name">Name</label>
    <input class="form-control is-valid string optional" type="text" value="Trailblazing" name="project[name]" id="project_name" />
  </div>
  <div class="form-group text optional project_description form-group-valid">
    <label class="form-control-label text optional" for="project_description">Description</label>
    <textarea class="form-control is-valid text optional" name="project[description]" id="project_description">
Photography by Nina Manandhar
Model – Nimshi
Footwear - Fila UK
Leaves by Mother Nature</textarea>
</div>
  <input multiple="multiple" type="file" name="project[user_upload][]" id="project_user_upload" />
  <input type="submit" name="commit" value="Update Project" data-disable-with="Update Project" />
</form>
<s></s>
