.controller-container {
  height: 320px;
  padding: 5px;
  color: black;
  position: absolute;
  float: left;
  margin-top: 50px;
  margin-left: 23px;
  position: fixed;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .controller-button {
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    .fa-safari {
      font-size: 25px;
    }

    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
    }
  }
}

.highlight-text {
  font-size: 12px !important;
}

.noshow {
  opacity: 0;
}

.nowshow2 {
  color: white;
}
