@import "normalize.css/normalize.css";

@font-face {
  font-family: "Dharma";
  src: url('../fonts/myfont-regular-webfont.woff2') format('woff2'),
       url('../fonts/myfont-regular-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Lineto";
  src: url('../fonts/lineto-circular-pro-book.woff') format('woff');
  font-weight: normal;
}

html, body {
  max-width: 100%;
}

body {
  font-family: "Dharma" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #fff;
}

.page-content a {
  color: #fff;
}

.page-content  a:hover {
  color: #fff;
  text-decoration: underline;
}

.page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
}

.page .page-content {
  flex: 1;
  background-color: #000;
  // box-sizing: border-box;
}

.page-content .container {
  padding-top: 5rem;
}
