@import "normalize.css/normalize.css";

@font-face {
  font-family: "Dharma";
  src: url('../fonts/myfont-regular-webfont.woff2') format('woff2'),
       url('../fonts/myfont-regular-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Lineto";
  src: url('../fonts/lineto-circular-pro-book.woff') format('woff');
  font-weight: normal;
}

html, body {
  max-width: 100%;
}

body {
  font-family: "Dharma" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #fff;
}

.page-content a,
.page-footer a {
  color: #fff;
}

.page-content a:hover,
.page-footer a:hover{
  color: #fff;
  // text-decoration: underline;
}

.page-footer {
  font-family: 'lineto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 300px;
  background-color: #09090a;
  display: flex;
  align-items: center;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 576px) {
    display: block;
    text-align: center;
  }
}

.page-footer ul {
  list-style: none;
  font-size: 0.7em;
  padding-left: 0px;

  li {
    margin-bottom: 1em;
  }

  @media only screen and (max-width: 576px) {
    margin: 40px 0;
  }

}
.page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
  .dashboard-style {
    background-color: white !important;
    font-family: 'Circular';
    color: black;
  }
}

.page .page-content {
  flex: 1;
  background-color: #000;
}

.page-content .container,
.page-content .container-fluid {
  padding-top: 5rem;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-bottom: 15px;
}

.hidden {
  display: none;
}




