<div id="3d-container"></div>
<b-container >

<% @projects.each do |project| %>
  <b-row class="pt-4">
    <b-col sm="12" >
      <div class="client-featured-card">
        <%=link_to(project_path(project.id.to_i)) do %>
          <img src="<%= project.images.select(&:coverimage).first.url %>"/>
        <% end %>
        <div class="project-info">
          <span class="name"><%= project.name.upcase %></span>
          <span class="description"><%= project.blurb %></span>
        </div>
      </div>
    </b-col>
  </b-row>
<% end %>

</b-container>
