<b-container fluid>
  <b-form-row>
    <b-col sm="12" lg="4">
      <ul class= "navigation-menu">
        <%-@projects.each do |project|%>
          <li>
            <%=link_to project.name.upcase, project_path(project)%>
          </li>
        <%end%>
      </ul>
    </b-col>
    <b-col sm="12" lg="4">
      <b-img src="<%=cl_image_path "01-indexpage_zfje0e"%>" fluid></b-img>
    </b-col>
    <b-col sm="12" lg="4">
      <b-img src="<%=cl_image_path "02-indexpage_pa9url"%>" fluid></b-img> 
    </b-col>
  </b-form-row>
</b-container>
