.form-picture-container {
  float: left;
  width: 50%;
  height: 75vh;
  margin-left: 20px;
  overflow-y: auto;
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

}
.form-picture {
  width: 230px;
  margin: 10px;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  min-height: 0px;


  span {
    font-size: 14px;
  }
}
