.searchbar-container {
  width: 100%;
  position: absolute;
  color: black;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  span {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-bottom: -20px;
  }

  .search-form {
    width: 80vw;
    outline: none;
    border: none;
    font-size: 25px;
  }

  .fa-search {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
  }
}
