<div class="container is-fluid">
  <%-@archive.in_groups_of(6) do |group| %>
    <div class="columns">
      <%-group.each do |photo|%>
        <div class="column is-2">
          <div class="image-container">
            <%=cl_image_tag photo.url%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
