<div class="container">
  <%-@archive.each_slice(6) do |group| %>
    <div class="columns">
      <%-group.each_slice(3) do |slice|%>
        <div class="column is-half">
          <div class="columns is-mobile">
            <%-slice.each do |photo|%>
              <div class="column is-one-third ">
                <div class="image-container" @click="showModal">
                  <%=cl_image_tag photo.url%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
