.form-footer-view-container {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: black;
  font-family: 'Circular';

  .form-button {
    color: white;
    width: 170px;
    padding: 5px;
    height: 38px;
    &:hover {
      color: black;
    }
  }

  input {
  color: gray;
  }

  form {
    width: 100%;
    padding: 20px;
  }

  label {
    margin-right: 10px;
  }
}

.form-group-single {
  label {
    flex: none;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input {
    width: 410px;
    flex: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 15px;
    padding: 8px;
  }
}

.form-group-top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.form-group-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
  padding: 20px;
}

.form-group-line {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3px;
  label {
    flex: 0 0 5%;
  }
  input {
    flex: 0 0 30%;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 8px;
  }
}
